//
// Mixins
//

// Utilities
// ---------

// Set box sizing
.wz-box-sizing(@box-model) {
  -webkit-box-sizing: @box-model;
     -moz-box-sizing: @box-model;
          box-sizing: @box-model;
}

// Clearfix
// [http://nicolasgallagher.com/micro-clearfix-hack/]
.wz-clearfix() {
  &:before,
  &:after {
    display: table;
    content: " ";
  }

  &:after {
    clear: both;
  }
}

// State mixins for responsive utilities
.wz-responsive-visible() {
  display: block !important;

  tr& { display: table-row !important; }
  th&,
  td& { display: table-cell !important; }
}

.wz-responsive-hidden() {
  display: none !important;
}

// Generate grid
// -------------
// Most of grid generation styles are taken from Bootstrap

// Generate container
.wz-make-container() {
  margin-right: auto;
  margin-left: auto;

  &:extend(.clearfix all);
}

// Generate a wrapper for a series of columns
.wz-make-row(@gutter: @wz-gutter-width) {
  margin-right: (@gutter / -2);
  margin-left: (@gutter / -2);

  &:extend(.clearfix all);
}

// Generate the extra small columns
.wz-make-xs-column(@columns; @gutter: @wz-gutter-width) {
  position: relative;
  float: left;
  width: percentage((@columns / @wz-column-number));
  padding-left: (@gutter / 2);
  padding-right: (@gutter / 2);
}

// Generate the small columns
.wz-make-sm-column(@columns; @gutter: @wz-gutter-width) {
  position: relative;
  padding-left: (@gutter / 2);
  padding-right: (@gutter / 2);

  // Calculate width based on number of columns available
  @media (min-width: @wz-screen-sm-min) {
    float: left;
    width: percentage((@columns / @wz-column-number));
  }
}

// Generate the small column offsets
.wz-make-sm-column-offset(@columns) {
  @media (min-width: @wz-screen-sm-min) {
    margin-left: percentage((@columns / @wz-column-number));
  }
}
.wz-make-sm-column-push(@columns) {
  @media (min-width: @wz-screen-sm-min) {
    left: percentage((@columns / @wz-column-number));
  }
}
.wz-make-sm-column-pull(@columns) {
  @media (min-width: @wz-screen-sm-min) {
    right: percentage((@columns / @wz-column-number));
  }
}

// Generate the medium columns
.wz-make-md-column(@columns; @gutter: @wz-gutter-width) {
  position: relative;
  padding-left: (@gutter / 2);
  padding-right: (@gutter / 2);

  // Calculate width based on number of columns available
  @media (min-width: @wz-screen-md-min) {
    float: left;
    width: percentage((@columns / @wz-column-number));
  }
}

// Generate the medium column offsets
.wz-make-md-column-offset(@columns) {
  @media (min-width: @wz-screen-md-min) {
    margin-left: percentage((@columns / @wz-column-number));
  }
}
.wz-make-md-column-push(@columns) {
  @media (min-width: @wz-screen-md-min) {
    left: percentage((@columns / @wz-column-number));
  }
}
.wz-make-md-column-pull(@columns) {
  @media (min-width: @wz-screen-md-min) {
    right: percentage((@columns / @wz-column-number));
  }
}

// Generate the large columns
.wz-make-lg-column(@columns; @gutter: @wz-gutter-width) {
  position: relative;
  padding-left: (@gutter / 2);
  padding-right: (@gutter / 2);

  // Calculate width based on number of columns available
  @media (min-width: @wz-screen-lg-min) {
    float: left;
    width: percentage((@columns / @wz-column-number));
  }
}

// Generate the large column offsets
.wz-make-lg-column-offset(@columns) {
  @media (min-width: @wz-screen-lg-min) {
    margin-left: percentage((@columns / @wz-column-number));
  }
}
.wz-make-lg-column-push(@columns) {
  @media (min-width: @wz-screen-lg-min) {
    left: percentage((@columns / @wz-column-number));
  }
}
.wz-make-lg-column-pull(@columns) {
  @media (min-width: @wz-screen-lg-min) {
    right: percentage((@columns / @wz-column-number));
  }
}

// Make columns
.wz-make-grid-columns() {
  // Common styles for all sizes of grid columns
  .wz-col(@index) when (@index = 1) {
    @item: ~".@{wz-prefix}col-xs-@{index}, .@{wz-prefix}col-sm-@{index}, .@{wz-prefix}col-md-@{index}, .@{wz-prefix}col-lg-@{index}";
    .wz-col(@index + 1, @item);
  }
  .wz-col(@index, @list) when (@index =< @wz-column-number) {
    @item: ~".@{wz-prefix}col-xs-@{index}, .@{wz-prefix}col-sm-@{index}, .@{wz-prefix}col-md-@{index}, .@{wz-prefix}col-lg-@{index}";
    .wz-col(@index + 1, ~"@{list}, @{item}");
  }
  .wz-col(@index, @list) when (@index > @wz-column-number) {
    @{list} {
      position: relative;
      padding-left: (@wz-gutter-width / 2);
      padding-right: (@wz-gutter-width / 2);
    }
  }
  .wz-col(1);
}

.wz-make-grid-columns-float(@class) {
  .wz-col(@index) when (@index = 1) {
    @item: ~".@{wz-prefix}col-@{class}-@{index}";
    .wz-col(@index + 1, @item);
  }
  .wz-col(@index, @list) when (@index =< @wz-column-number) {
    @item: ~".@{wz-prefix}col-@{class}-@{index}";
    .wz-col(@index + 1, ~"@{list}, @{item}");
  }
  .wz-col(@index, @list) when (@index > @wz-column-number) {
    @{list} {
      float: left;
    }
  }
  .wz-col(1);
}

// Calculate grid size
.wz-calc-grid(@index, @class, @type) when (@type = width) and (@index > 0) {
  .@{wz-prefix}col-@{class}-@{index} {
    width: percentage((@index / @wz-column-number));
  }
}

.wz-calc-grid(@index, @class, @type) when (@type = push) {
  .@{wz-prefix}col-@{class}-push-@{index} {
    left: percentage((@index / @wz-column-number));
  }
}

.wz-calc-grid(@index, @class, @type) when (@type = pull) {
  .@{wz-prefix}col-@{class}-pull-@{index} {
    right: percentage((@index / @wz-column-number));
  }
}

.wz-calc-grid(@index, @class, @type) when (@type = offset) {
  .@{wz-prefix}col-@{class}-offset-@{index} {
    margin-left: percentage((@index / @wz-column-number));
  }
}

// Basic looping in LESS
.wz-make-grid(@index, @class, @type) when (@index >= 0) {
  .wz-calc-grid(@index, @class, @type);
  .wz-make-grid(@index - 1, @class, @type);
}
