//
// Utilities
//

// Clear the floats
.clearfix {
  .clearfix();
}

// Set and reset floats
.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

// Hide content
.hidden {
  display: none !important;
  visibility: hidden;
}

.invisible {
  visibility: hidden;
}